In [37]:
import requests
import pandas as pd
import geopandas
from shapely.geometry import Polygon

In [27]:
geopandas.options.io_engine = "pyogrio"

In [45]:
germany_border = geopandas.read_file(r'..\shapefiles\de_10km.shx')

# Convert the polygon to a MultiPolygon object
# germany_boundary = Polygon(germany_border.iloc[0].geometry)

In [46]:
germany_border

                                               geometry
0     POLYGON ((3890000.000 3630000.000, 3890000.000...
1     POLYGON ((3890000.000 3640000.000, 3890000.000...
2     POLYGON ((3890000.000 3650000.000, 3890000.000...
3     POLYGON ((3890000.000 3660000.000, 3890000.000...
4     POLYGON ((3890000.000 3670000.000, 3890000.000...
...                                                 ...
4965  POLYGON ((4680000.000 3120000.000, 4680000.000...
4966  POLYGON ((4680000.000 3130000.000, 4680000.000...
4967  POLYGON ((4680000.000 3140000.000, 4680000.000...
4968  POLYGON ((4680000.000 3150000.000, 4680000.000...
4969  POLYGON ((4680000.000 3160000.000, 4680000.000...

[4970 rows x 1 columns]

In [41]:
from shapely.geometry import Point

In [43]:
germany_boundary.contains(Point(24.2620,55.6090)), germany_boundary.contains(Point(48.7703,9.1825))

(False, False)

In [40]:
# def is_point_in_germany(point):
#     """
#     Return True if the point lies within Germany, False otherwise.
#     """
#     germany = geopandas.GeoDataFrame(germany_boundary, crs=4326)
#     point = Point(point[0], point[1])
#     return contains(germany.unary_union, point)

In [3]:
print("this is a formattable str {name}".format(name="val"))

this is a formattable str val